<body>
    <img src="logo.png" routerLink="/" id="logo">
    <div class="container">

        <div class="sinal-container">
            <div class="card">
                <a class="voltar" routerLink="/"><svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M17 17L7 7M7 7V16M7 7H16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></a>
                <p-timeline styleClass="p-timeline-override" [value]="events">
                    <ng-template pTemplate="content" let-event>
                        <small class="p-text-secondary">{{ event.date }}</small>
                    </ng-template>
                    <ng-template pTemplate="opposite" let-event>
                        {{ event.status }}
                    </ng-template>
                </p-timeline>
            </div>
            
            <form [formGroup]="form" > 
                <div>
                    <p id="status" [class]="status[signal.status!]" >{{this.status[this.signal.status!]}}</p>
                    <div class="row" style="margin-top: -5%;">
                        <div>
                            <input id="name" readonly type="text" formControlName="name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="typeOfSignal">Tipo</label><br>
                        <input id="typeOfSignal" readonly type="text" formControlName="typeOfSignal">
                    </div>
                    <div>
                        <label for="date">Data</label><br>
                        <input id="date" readonly type="date" formControlName="date">
                    </div>
                    <!-- <div>
                        <label for="status">Status</label><br>
                        <input id="status" readonly type="status" [class]="status[signal.status!]" formControlName="status">
                    </div> -->
                </div>
                <div class="row">
                    <div>
                        <label for="description">Descrição</label><br>
                        <textarea readonly id="description" type="text"
                            formControlName="description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="state">Estado</label><br>
                        <input id="state" readonly type="text" formControlName="state">
                    </div>
                    <div>
                        <label for="city">Cidade</label><br>
                        <input id="city" readonly type="text" formControlName="city">
                    </div>
                </div>
                <div class="row">
                    <small id="address" style="flex-basis: 100%;">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z" />
                        </svg>
                        {{this.signal.address}}
                    </small>
                </div>
            </form> 
        </div>
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </div>
</body>