/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import  "primeicons/primeicons.css";
@import  "primeng/resources/primeng.min.css";

body,
body .p-component {
   font-family: 'Inter';
}

.p-component, .p-component *{
   font-family: 'Inter';
   outline: none !important;
}

.p-autoComplete *{
    background-color: #f2f2f2;
    outline: none !important;
}

#logo {
   position: absolute;
   z-index: 20;
   top: 4%;
   left: 2%;
   height: 2.3vh;
}

#map{
   filter:saturate(1.8) hue-rotate(-8deg) brightness(0.88) contrast(1.4);
   animation: fadeIn 3s;
}

@keyframes fadeIn {
   from {
       opacity: 0;
       filter: saturate(0);
   }

   ;

   to {
       opacity: 1;
       filter:saturate(1.8) hue-rotate(-8deg) brightness(0.88) contrast(1.4);
   }
}

.Paralisado {
   color: #f82959;
}

.Pendente {
   color: #FFCA4D;
}

.Iniciado {
   color: #02CA95;
   animation: blink 1s infinite;
}

.Finalizado {
   color: #0095FF;
}


@keyframes blink {
   0% {
       opacity: 0.2;
   }

   ;

   50% {
       opacity: 1;
   }

   ;

   100% {
       opacity: 0.2;
   }
}