/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "primeicons/primeicons.css";

body,
body .p-component {
   font-family: 'Inter';
}

.p-component, .p-component *{
   font-family: 'Inter';
   outline: none !important;
}

.p-autoComplete *{
    background-color: #f2f2f2;
    outline: none !important;
}
