body {
    margin: -10px;
    overflow: hidden;
}

.sinal-container {
    margin: 0;
    padding: 0;
    flex: 1;
}

#first-row {
    display: flex;
    justify-content: space-between;
}

.map-container {
    flex: 1;
    height: 100%;
}

.map-frame {
    height: 100%;
}

.container {
    display: flex;
    margin: 0;
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 90vh;
}

#map {
    width: 100%;
    border-radius: 15px;
    height: 100%;
    margin: 0;
    padding: 0;
    animation: fadeIn 3s;
}

.voltar {
    background: none;
    border: none;
}

#header {
    width: 98%;
}

#logo {
    height: 2.3vh;
    margin-bottom: 25%;
    box-sizing: content-box;
}

@media only screen and (min-width: 1100px) {

    .sinal-container {
        justify-items: end;
    }

    form {
        padding: 2%;
        padding-top: 0.2%;
        padding-right: 0.6%;
        border-radius: 14px;
        width: 75%;
    }


    .row {
        margin-bottom: 5%;
        display: flex;
        flex-wrap: nowrap;
        width: 95%;
    }

    .row>div {
        flex: 1;
        width: 100%;
    }


    input,
    select,
    textarea {
        resize: none;
        font-size: 1.5vh;
        width: 100%;
        background-color: #f2f2f2;
        border: none;
        padding: 2%;
        outline: none;
        margin-top: 2%;
        border-radius: 8px;
    }

    .column {
        margin-bottom: 5%;
        display: flex;
        flex-wrap: nowrap;
        width: 97%;
    }

    .column>div {
        margin-right: 2%;
        flex: 1;
    }

    :host {
        ::ng-deep .p-dropdown-override input {
            background-color: #f2f2f2;
            height: 4vh;
            background-image: none;
            outline: none;
            border: none !important;
            font-size: 1.5vh;
            font-weight: 400;
            font-family: 'Figtree';
        }

        ::ng-deep .p-dropdown-override input::placeholder {
            font-family: 'Figtree';
            font-size: 1.5vh;
            font-weight: 400;
        }

        ::ng-deep .p-dropdown-override input:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        ::ng-deep .p-dropdown-override {
            outline: none;
            margin: 2%;
            width: 96%;
        }

        ::ng-deep .p-dropdown-override button {
            background-color: #f2f2f2;
            height: 4vh;
            font-family: 'Inter';
            color: black;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            background-image: none;
            border: none !important;
        }
    }

    #first-row {
        width: 95%;
    }

    #sinalize {
        margin-top: 13%;
    }

    #header {
        padding-top: 1.3%;
        height: 10vh;
        margin-top: 0;
        padding-bottom: 2%;
        display: flex;
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
    }

    #logo {
        margin-left: 40px;
        margin-top: 13%;
    }

}

@media only screen and (max-width: 1100px) and (min-width: 650px) {

    .sinal-container {
        justify-items: center;
    }

    .container {
        flex-direction: column;
        justify-content: center;
    }

    form {
        padding: 2%;
        padding-top: 0.2%;
        padding-right: 0.6%;
        padding-bottom: 0.6%;
        border-radius: 14px;
        width: 70%;
    }

    input,
    select,
    textarea {
        resize: none;
        font-size: 1.5vh;
        width: 98%;
        background-color: #f2f2f2;
        border: none;
        padding: 2%;
        outline: none;
        margin-top: 2%;
        margin-left: 1%;
        border-radius: 8px;
    }

    .row {
        width: 100%;
        margin-bottom: 2%;
        display: flex;
        flex-wrap: nowrap;
    }

    .row>div {
        flex: 1;
        width: 110%;
        margin-right: 2%;
    }

    .column {
        margin-bottom: 2%;
        display: flex;
        flex-wrap: nowrap;
        width: 100.5%;
    }

    .column>div {
        margin-right: 4%;
        flex: 1;
    }


    #first-row {
        width: 97%;
    }

    #sinalize {
        margin-top: 10%;
    }

    :host {
        ::ng-deep .p-dropdown-override input {
            background-color: #f2f2f2;
            height: 4vh;
            background-image: none;
            outline: none;
            border: none !important;
            font-size: 1.5vh;
            font-weight: 400;
            font-family: 'Figtree';
        }

        ::ng-deep .p-dropdown-override input::placeholder {
            font-family: 'Figtree';
            font-size: 1.5vh;
            font-weight: 400;
        }

        ::ng-deep .p-dropdown-override input:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        ::ng-deep .p-dropdown-override {
            outline: none;
            margin: 2%;
            width: 96%;
        }

        ::ng-deep .p-dropdown-override button {
            background-color: #f2f2f2;
            height: 4vh;
            font-family: 'Inter';
            color: black;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            background-image: none;
            border: none !important;
        }
    }

    #header {
        padding-top: 1.3%;
        width: 96%;
        background-color: white;
        position: absolute;
        margin-bottom: 1%;
        height: 10vh;
    }

    #logo {
        margin-top: 10%;
        margin-left: 30px;
    }

}

@media only screen and (max-width: 650px) {
    .sinal-container {
        justify-items: center;
    }

    .container {
        flex-direction: column;
        justify-content: center;
    }

    form {
        padding: 2%;
        padding-top: 0.2%;
        padding-right: 0.6%;
        padding-bottom: 0.6%;
        border-radius: 14px;
    }

    input,
    select,
    textarea {
        resize: none;
        font-size: 1.5vh;
        width: 98%;
        background-color: #f2f2f2;
        border: none;
        padding: 3%;
        outline: none;
        margin-top: 2%;
        margin-left: 1%;
        border-radius: 8px;
    }

    .row {
        width: 100%;
        margin-bottom: 2%;
        display: flex;
        flex-wrap: nowrap;
    }

    .row>div {
        flex: 1;
        width: 110%;
        margin-right: 2%;
    }

    .column {
        margin-bottom: 2%;
        display: flex;
        flex-wrap: nowrap;
        width: 100.5%;
    }

    .column>div {
        margin-right: 4%;
        flex: 1;
    }

    :host {
        ::ng-deep .p-dropdown-override input {
            background-color: #f2f2f2;
            height: 4vh;
            background-image: none;
            outline: none;
            border: none !important;
            font-size: 1.5vh;
            font-weight: 400;
            font-family: 'Figtree';
        }

        ::ng-deep .p-dropdown-override input::placeholder {
            font-family: 'Figtree';
            font-size: 1.5vh;
            font-weight: 400;
        }

        ::ng-deep .p-dropdown-override input:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        ::ng-deep .p-dropdown-override {
            outline: none;
            margin: 2%;
            width: 96%;
        }

        ::ng-deep .p-dropdown-override button {
            background-color: #f2f2f2;
            height: 4vh;
            font-family: 'Inter';
            color: black;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            background-image: none;
            border: none !important;
        }
    }

    #header {
        padding-top: 1.3%;
        width: 100%;
        background-color: white;
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        padding: 1%;
        display: flex;
        justify-content: center;
        height: 10vh;
    }

    #logo {
        margin-top: 15%;
    }

    #first-row {
        width: 97%;
    }

    #sinalize {
        margin-top: 13%;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Figtree';
    margin: none;
    padding: none;
}

.title {
    font-weight: 800;
    font-size: 4vh;
    line-height: 5vh;
    letter-spacing: -.5px;
    margin-bottom: 5%;
}

label {
    font-weight: 600;
    font-size: 1.6vh;
    font-family: 'Figtree';
}

#typeOfSignal,
#date {
    width: 100%;
    padding: 5%;
}

select>option {
    color: #555;
    background-color: rgb(247, 247, 247);
    background-image: none;
    font-size: 18px;
    height: 50px;
    padding: 15px;
    border: none;
    box-shadow: none;
    border-radius: 14px;
    outline: none !important;
}

b {
    font-weight: normal;
    font-size: small;
    color: #555;
}

::ng-deep {
    .p-autoComplete {
        outline: none !important;
    }

}


#address {
    margin-top: 2%;
    color: #555;
}

.voltar:hover svg {
    transform: scale(0.9);
    transition: 0.3s;
}

.voltar svg {
    height: 4vh;
}