@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Figtree';
    margin: none;
    padding: none;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}


.type {
    width: fit-content;
    display: flex;
    padding: 1%;
    padding-right: 3%;
    border-radius: 8px;
    white-space: pre;
}

.signals {
    overflow-y: scroll;
    background-color: white;
    // height: 40vh;
    margin: 0;
    // height: 10vh;
}

.address {
    opacity: 1;
}

.date {
    font-size: 1vh;
}

.Construção {
    background: #ffe4a9;
}

.Reparo {
    background: #9fd4ff;
}

.Limpeza {
    background: #fec4ff;
}

.Meio-ambiente {
    background: #abfc2a80;
}

.Saúde {
    background: #ffbcd8;
}

small {
    box-sizing: border-box;
    margin-left: 4%;
}

.divider {
    width: 10vh;
}

.type img {
    border-radius: 20px transparent;
    transform: scale(0.8);

}

.Paralisado {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
}

.Pendente {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
}

.Iniciado {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
    animation: blink 1s infinite;
}

.Finalizado {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
}

#logo {
    height: 2.3vh;
    margin-bottom: 25%;
    box-sizing: content-box;
}

#content {
    // align-content: stretch;
    height: 88vh;
    width: 98%;
    margin: 0;
}

#dock {
    width: fit-content;
    display: flex;
    background-color: white;
    z-index: 50;
    margin: 0;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 0.315);
    border-radius: 30px;
    // padding-left: .15%;
    // padding-right: .15%;
}

#footer {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    // height: 10vh;
    display: flex;
    background: transparent;
    justify-content: center;
}

.accessButton {
    padding: 10px;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 50%;
}

.accessButton:hover img {
    transform: scale(0.95);
    transition: .2s;
}

.accessButton img {
    height: 3vh;
    transition: .2s;
}

#header {
    width: 98%;
}

.map-frame {
    height: 100%;
    width: 98%;
}

.map-container {
    height: 100%;
}

@media only screen and (min-width: 1100px) {

    #content {
        display: flex;
        flex-direction: row-reverse;
        height: 87vh;
    }

    #map {
        width: 100%;
        border-radius: 15px;
        height: 100%;
    }

    .map-container {
        height: 100%;
        flex: 2;
    }

    .map-frame{
        width: 100%;
    }

    .city {
        background-color: white;
        border-radius: 14px;
        padding-left: 1%;
        padding-bottom: 1%;
        animation: fadeIn 0.5s;
        flex: 1;
    }

    .signal {
        border-radius: 12px;
        border: 1.5px solid #f2f2f2;
        margin-bottom: 4%;
        padding-left: 4%;
        width: 100%;
    }

    .address,
    .status {
        font-size: 1.3vh;
        margin-right: 4%;
        margin-top: 5%;
    }

    #header {
        padding-top: 1.3%;
        // width: 100%;
        height: 10vh;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #container {
        display: flex;
        flex-wrap: wrap;

    }

    #logo {
        margin-left: 30px;
        margin-top: 10%;
    }

}

@media only screen and (max-width: 1100px) and (min-width: 580px) {

    .signals {
        max-height: 40vh;
    }


    #content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        width: 100%;
        // height: 88vh;
    }

    #map {
        width: 100%;
        border-radius: 15px;
        height: 100%;
    }

    .map-container {
        padding-left: 2%;
        height: 100%;
        width: 98%;
    }

    .city {
        background-color: white;
        border-radius: 14px;
        padding-left: 1.2%;
        padding-bottom: 1%;
        animation: fadeIn 0.5s;
    }

    .signal {
        border-radius: 12px;
        border: 1.5px solid #f2f2f2;
        margin-bottom: 4%;
        padding-left: 2%;
        width: 98%;
    }

    .address,
    .status {
        font-size: 1.3vh;
        margin-right: 4%;
        margin-top: 2%;
    }

    #header {
        padding-top: 1.3%;
        width: 96%;
        background-color: white;
        position: absolute;
        margin-bottom: 1%;
        // top:0;
        // left:0;
        // padding:1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #container {
        display: flex;
        flex-wrap: wrap;
    }

    #logo {
        margin-top: 10%;
        margin-left: 30px;
    }

    #dock {
        padding: 1%;
    }
}

@media only screen and (max-width: 580px) {

    .signals {
        max-height: 40vh;
    }


    #content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
        top: 22vh;
        width: 100%;
        height: 77vh;
    }

    #map {
        width: 100%;
        border-radius: 15px;
        height: 100%;
    }

    .map-container {
        padding-left: 2%;
        height: 100%;
        width: 96%;
    }

    .city {
        background-color: white;
        border-radius: 14px;
        padding-left: 1.2%;
        padding-bottom: 2%;
        animation: fadeIn 0.5s;
    }

    .signal {
        border-radius: 12px;
        border: 1.5px solid #f2f2f2;
        margin-bottom: 4%;
        padding-left: 2%;
        width: 98%;
    }

    .address,
    .status {
        font-size: 1.3vh;
        margin-right: 4%;
        margin-top: 2%;
    }

    #header {
        padding-top: 1.3%;
        width: 100%;
        background-color: white;
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #dock {
        padding: 2%;
    }

    #logo {
        margin-top: 15%;
    }

    #container {
        width: 100%;
    }

    #container>div {
        display: block;
        width: 100%;
    }
}

.fadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: saturate(0);
    }

    ;

    to {
        opacity: 1;
        filter: saturate(1.5);
    }
}


:host {
    ::ng-deep .p-dropdown-override input {
        background-color: #f2f2f2;
        height: 4vh;
        background-image: none;
        outline: none;
        border: none !important;
        font-size: 1.5vh;
        font-weight: 400;
        font-family: 'Figtree';
    }

    ::ng-deep .p-dropdown-override input::placeholder {
        font-family: 'Figtree';
        font-size: 1.5vh;
        font-weight: 400;
    }

    ::ng-deep .p-dropdown-override input:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    ::ng-deep .p-dropdown-override {
        outline: none;
        margin: 2%;
        width: 96%;
    }

    ::ng-deep .p-dropdown-override button {
        background-color: #f2f2f2;
        height: 4vh;
        font-family: 'Inter';
        color: black;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        background-image: none;
        border: none !important;
    }
}

.signal:hover h3 {
    color: #0095FF;
    transition: 0.2s;
}

.signal:hover {
    transition: 0.2s;
    transform: translateX(-2px);
    transform: translateY(-2px);
}

.warning {
    font-size: small;
    color: gray;
    font-style: italic;
    margin-left: 2%;
}

.selectedMarker {
    transform: scale(10);
}


.signals::-webkit-scrollbar {
    // display: none;
    display: block;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 0px 10px rgb(255, 68, 68);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8ADBFF;
    border: 5px solid white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.selected {
    opacity: 1;
}

.unselected {
    opacity: 0.5;
}

#title {
    font-weight: 800;
    font-size: 3vh;
    letter-spacing: -.5px;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-top: 0;
}

#rating {
    margin-left: 2%;

}

.addButton img {
    height: 3vh;
    width: 3vh;
    transition: .5s;
    // position: absolute;
}

.addButton {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;

}

.addButton:hover img {
    transform: rotate(405deg);
    transition: 0.5s;
}

.editButton svg {
    height: 1.5vh;
    width: 1.5vh;

}

.editButton {
    width: 2vh;
    background: none;
    border: none;
}

.editButton:hover svg {
    transform: scale(1.1);
    transition: 0.3s;
}

.likeButton {
    background: none;
    float: right;
    margin-right: 2%;
    border: none;
    color: #d6d6d6;
}


.likeButton svg {
    height: 3vh;
    width: 3vh;
    stroke-width: 1px;
}

.likeButton:hover {
    color: #1DAEEF;
    transition: .2s;
}

.likedButton {
    background: none;
    float: right;
    margin-right: 2%;
    border: none;
    color: #1DAEEF;
}

.likedButton svg {
    height: 3vh;
    width: 3vh;
    fill: #8ADBFF;
    animation: like .5s;
}

.popMarker {
    background-color: red;
}

.viewButton {
    background: none;
    border: none;
}

.viewButton:hover svg {
    transform: scale(1.1);
    transition: 0.3s;
}

.viewButton svg {
    height: 1.5vh;
    width: 1.5vh;
}

@keyframes like {
    0% {

        transform: scale(1);

        transform: rotate(0);
    }

    ;

    50% {
        transform: scale(1.2);
        transform-origin: 0% 100%;
        transform: rotate(-15deg);
    }

    ;

    100% {
        transform: scale(1);
        transform: rotate(0);
    }
}

@keyframes unlike {
    0% {

        transform: scale(1);

        transform: rotate(0);
    }

    ;

    50% {
        transform: scale(1.2);
        transform-origin: 0% 100%;
        transform: rotate(15deg);
    }

    ;

    100% {
        transform: scale(1);
        transform: rotate(0);
    }
}