@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Figtree';
    margin: none;
    padding: none;
}

.type {
    width: fit-content;
    display: flex;
    padding: 1%;
    padding-right: 3%;
    border-radius: 8px;
    white-space: pre;
}

.signal {
    border-radius: 12px;
    border: 1.5px solid #f2f2f2;
    margin-bottom: 4%;
    padding-left: 4%;
    width: 96%;
}

.address,
.status {
    font-size: 1.3vh;
    margin-right: 4%;
    margin-top:5%;
}

.address {
    // font-weight: 500;
    opacity: 1;
}

.date {
    font-size: 1vh;
}

.Construção {
    background: #ffe4a9;
}

.Reparo {
    background: #9fd4ff;
}

.Limpeza {
    border: 2px solid #f7aef8;
}

.Meio-ambiente {
    background: #abfc2a80;
}

.Saúde {
    background: #ffbcd8;
}

small {
    box-sizing: border-box;
    margin-left: 4%;
}

.divider {
    width: 10vh;
}

.type img {
    border-radius: 20px transparent;
    transform: scale(0.8);

}

.Paralisado {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
}

.Pendente {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
}

.Iniciado {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
    animation: blink 1s infinite;
}

.Finalizado {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
}


#header {
    padding: 1%;
    padding-top: 1.3%;
    width: 99%;
    position: absolute;
    background-color: white;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0pt 0pt 4pt 4pt rgba(0, 0, 0, 0.012);

}

#map {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 0;
    animation: fadeIn 3s;
    z-index: 10;
}

.fadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: saturate(0);
    }

    ;

    to {
        opacity: 1;
        filter: saturate(1.5);
    }
}

.container {
    position: absolute;
    z-index: 15;
    display: flex;
    right: 2%;
    top: 50%;
}

:host {
    ::ng-deep .p-dropdown-override input {
        background-color: #f2f2f2;
        height: 4vh;
        background-image: none;
        outline: none;
        border: none !important;
        font-size: 1.5vh;
        font-weight: 400;
        margin-left: 8%;
        font-family: 'Figtree';
    }

    ::ng-deep .p-dropdown-override input::placeholder {
        font-family: 'Figtree';
        font-size: 1.5vh;
        font-weight: 400;
    }

    ::ng-deep .p-dropdown-override input:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    ::ng-deep .p-dropdown {
        outline: none;
    }

    ::ng-deep .p-dropdown-override button {
        background-color: #f2f2f2;
        height: 4vh;
        font-family: 'Inter';
        color: black;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        background-image: none;
        border: none !important;
    }
}

.signal:hover h3 {
    color: #0095FF;
    transition: 0.2s;
}

.signal:hover {
    // border: 1px solid #a4d9ff;
    // background-color: #fcfcfc;
    transition: 0.2s;
    transform: translateX(-2px);
    transform: translateY(-2px);
}

.warning {
    font-size: small;
    color: gray;
    font-style: italic;
    margin-left: 2%;
}

.selectedMarker {
    transform: scale(10);
}

.city {
    position: absolute;
    right: 0;
    top: 10%;
    width: 30%;
    // padding: 1%;
    margin: 1%;
    background-color: white;
    border-radius: 14px;
    z-index: 11;
    // border: 1px solid #e9e9e9;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    animation: fadeIn 0.5s;
    max-height: 70vh;
    overflow-y: scroll;
    box-shadow: 0pt 0pt 4pt 4pt rgba(0, 0, 0, 0.012);
}

.city::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.selected {
    opacity: 1;
}

.unselected {
    opacity: 0.5;
}

#title {
    font-weight: 800;
    font-size: 3vh;
    letter-spacing: -.5px;
    margin-bottom: 2%;
    margin-left: 2%;
    -top: 3%;
}

#rating {
    margin-left: 2%;

}

.addButton img {
    height: 3vh;
    position: absolute;
}

.addButton {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    right: 1%;
    // vertical-align: middle;
    padding-top: 0.7%;
    padding-right: 0.7%;
    padding-left: 0.7%;
    padding-bottom: 0.45%;
    // padding-bottom:-1%;
    text-decoration: none;
    z-index: 20;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.048);
}

.addButton img {
    position: relative;
    top: 50%;
    margin: auto;
}

.addButton:hover {
    // transform: scale(1.05);
    transition: 0.5s;
}

.addButton:hover img {
    transform: rotate(360deg);
    transition: 0.5s;
}

.editButton svg {
    height: 1.5vh;
    width: 1.5vh;

}

.editButton {
    width: 2vh;
    background: none;
    border: none;
}

.editButton:hover svg {
    transform: scale(1.1);
    transition: 0.3s;
}

.likeButton {
    background: none;
    float: right;
    margin-right: 2%;
    border: none;
    color: #d6d6d6;
}


.likeButton svg {
    height: 3vh;
    width: 3vh;
    stroke-width: 1px;
}

.likeButton:hover {
    color: #1DAEEF;
    transition: .2s;
}

.likedButton {
    background: none;
    float: right;
    margin-right: 2%;
    border: none;
    color: #1DAEEF;
}

.likedButton svg {
    height: 3vh;
    width: 3vh;
    // stroke-width: 1.5px;
    fill: #8ADBFF;
    animation: like .5s;
}

.viewButton {
    background: none;
    // float: right;
    // margin-right: 4%;
    border: none;
}

.viewButton:hover svg {
    transform: scale(1.1);
    transition: 0.3s;
}

.viewButton svg {
    height: 1.5vh;
    width: 1.5vh;
}

@keyframes like {
    0% {

        transform: scale(1);

        transform: rotate(0);
    }

    ;

    50% {
        transform: scale(1.2);
        transform-origin: 0% 100%;
        transform: rotate(-15deg);
    }

    ;

    100% {
        transform: scale(1);
        transform: rotate(0);
    }
}

@keyframes unlike {
    0% {

        transform: scale(1);

        transform: rotate(0);
    }

    ;

    50% {
        transform: scale(1.2);
        transform-origin: 0% 100%;
        transform: rotate(15deg);
    }

    ;

    100% {
        transform: scale(1);
        transform: rotate(0);
    }
}