<body>


    <div id="header">
        <div>
            <img src="logo.png" routerLink="/" id="logo">
        </div>
        <div id="container">
            <p id="formLabel">Busque um local:</p>
            <div>
                <p-autoComplete styleClass="p-dropdown-override" (onSelect)="changeState()" placeholder="Estado"
                    [(ngModel)]="state" [dropdown]="true" [suggestions]="filteredStates"
                    (completeMethod)="filterStates($event)" field="name" />
            </div>
            <div>
                <p-autoComplete styleClass="p-dropdown-override" (onSelect)="changeCity()" placeholder="Município"
                    [forceSelection]="true" [dropdown]="true" [(ngModel)]="city" [virtualScroll]="true"
                    [suggestions]="filteredCities" (completeMethod)="filterCities($event)" field="name" />
            </div>
        </div>
    </div>
    <div id="content">
        <div class="city" *ngIf="!(this.city == undefined)">
            <p id="title">{{this.city?.name}}, {{this.state?.sigla}}</p><br>
            <p-rating id="rating" [(ngModel)]="this.rating" [disabled]="true" [readonly]="true" [cancel]="false" />
            <br><br><br>
            <p class='warning' *ngIf="this.signals.length==0 && ! this.isLoadingSignals">Opa! Essa cidade não tem nenhum
                sinal.</p>
            <div *ngIf="this.isLoadingSignals" class="loading">
                <p-progressSpinner ariaLabel="loading" strokeWidth="6" [style]="{ width: '20px', height: '20px' }" />
            </div>
            <div class="signals" *ngIf="this.signals.length!=0">
                <div class="signal fadeIn"
                    [ngClass]="{'unselected': this.selectedIndex != i && this.selectedIndex != undefined, 'selected': this.selectedIndex == i && this.selectedIndex != undefined}"
                    *ngFor="let s of this.signals, index as i">
                    <h3>{{s.name}}
                        <button class='editButton' *ngIf="s.status!=3 && this.login!=undefined && this.userId==s.userId"
                            (click)="editSignal(s)">
                            <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7 4C5.34315 4 4 5.34315 4 7V17C4 18.6569 5.34315 20 7 20H17C18.6569 20 20 18.6569 20 17V11C20 10.4477 20.4477 10 21 10C21.5523 10 22 10.4477 22 11V17C22 19.7614 19.7614 22 17 22H7C4.23858 22 2 19.7614 2 17V7C2 4.23858 4.23858 2 7 2H13C13.5523 2 14 2.44772 14 3C14 3.55228 13.5523 4 13 4H7Z"
                                        fill="#000000"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.2156 2.82088C17.7412 2.29528 18.4541 2 19.1974 2C19.9407 2 20.6535 2.29528 21.1791 2.82088C21.7047 3.34648 22 4.05934 22 4.80265C22 5.54596 21.7047 6.25883 21.1791 6.78443L20.396 7.56757C20.0055 7.9581 19.3723 7.9581 18.9818 7.56757L16.4324 5.01824C16.0419 4.62771 16.0419 3.99455 16.4324 3.60402L17.2156 2.82088ZM15.0182 6.43245C14.6277 6.04192 13.9945 6.04192 13.604 6.43245L9.14269 10.8938C9.01453 11.0219 8.92362 11.1825 8.87966 11.3583L8.02988 14.7575C7.94468 15.0982 8.04453 15.4587 8.29291 15.7071C8.54129 15.9555 8.90178 16.0553 9.24256 15.9701L12.6417 15.1204C12.8175 15.0764 12.9781 14.9855 13.1062 14.8573L17.5676 10.396C17.9581 10.0055 17.9581 9.37231 17.5676 8.98179L15.0182 6.43245Z"
                                        fill="#000000"></path>
                                </g>
                            </svg>
                        </button>
                        <button class="viewButton" (click)="viewSignal(s)">
                            <svg height="64px" width="64px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"
                                fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #000000;
                                        }
                                    </style>
                                    <g>
                                        <path class="st0"
                                            d="M512,282.163c-0.881-1.49-21.826-38.71-63.998-76.621c-21.106-18.932-47.584-38.03-79.667-52.494 c-32.041-14.455-69.743-24.183-112.337-24.162c-42.595-0.014-80.296,9.707-112.341,24.162 c-48.12,21.722-83.626,53.753-107.33,80.244C12.627,259.846,0.644,281.037,0,282.163l29.331,16.484l13.676,7.749l0.024-0.042 l0.007-0.014c0.895-1.629,20.324-34.688,56.487-66.326c18.068-15.848,40.244-31.331,66.274-42.786 c26.061-11.456,55.91-18.96,90.199-18.974c35.104,0.014,65.561,7.881,92.056,19.798c39.685,17.848,70.324,45.171,90.808,68.131 c10.245,11.462,17.938,21.785,22.98,29.1c2.525,3.657,4.385,6.566,5.574,8.49c0.594,0.966,1.02,1.679,1.286,2.119l0.252,0.448 l0.042,0.063l9.707-5.518l-9.734,5.469L512,282.163z">
                                        </path>
                                        <path class="st0"
                                            d="M255.999,210.339c-47.71,0-86.388,38.674-86.388,86.391c0,47.71,38.678,86.384,86.388,86.384 c47.71,0,86.388-38.674,86.388-86.384C342.386,249.014,303.708,210.339,255.999,210.339z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </button>
                        <button *ngIf="this.login!=undefined" class='likeButton' (click)="likeSignal(s)"
                            [ngClass]="{'likedButton': s.liked, 'likeButton': !s.liked}">
                            <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                </g>
                            </svg>
                        </button>
                    </h3>
                    <div class="type" ngClass={{signalType[s.typeOfSignal!]}}>
                        <img
                            src="{{signalType[s.typeOfSignal!]+ '.svg'}}"><small>{{signalType[s.typeOfSignal!]}}</small>
                    </div>
                    <div style="display:flex;justify-content: space-between;">
                        <p class="address">{{s.address}}</p>
                        <p class="status" [class]="status[s.status!]">{{status[s.status!]}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-container">
            <div id="footer">
                <div id="dock">
                    <a class="addButton" routerLink="/create-signal">
                        <img src="icon.png">
                    </a>
                    <button class="accessButton" (click)="this.logout()" *ngIf="this.login!=undefined">
                        <img src="Logout.svg">
                    </button>
                    <button class="accessButton" (click)="this.goToLogin()" *ngIf="this.login==undefined">
                        <img src="login.svg">
                    </button>
                    <p *ngIf="this.userId != ''">{{this.login}}</p>
                </div>
            </div>
            <div class="map-frame">
                <div id="map" #mapContainer></div>
            </div>
        </div>
    </div>
</body>