@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Figtree';
    margin: none;
    padding: none;
}

#logo {
    position: absolute;
    z-index: 20;
    top: 4%;
    left: 2%;
    height: 2.3vh;
}

.type {
    width: fit-content;
    display: flex;
    padding: 1%;
    padding-right: 3%;
    border-radius: 8px;
    white-space: pre;
}

.signal {
    border-radius: 12px;
    border: 1px solid #f2f2f2;
    margin-bottom: 4%;
    padding-left: 4%;
    width: 92%;
}

.address,
.status {
    font-size: 1.3vh;
    margin-right: 4%;
}

.date {
    font-size: 1vh;
}

.Construção {
    background-color: #fdf8ac;
}

.Reparo {
    background-color: #b1eaff;
}

.Limpeza {
    background-color: #fdd1fd;
}

.Meio-ambiente {
    background-color: #00ff004b;
}

.Saúde {
    background-color: #ff99c8;
}

small {
    box-sizing: border-box;
    margin-left: 4%;
}

.divider {
    width: 10vh;
}

.type img {
    border-radius: 20px transparent;
    transform: scale(0.8);

}

.Paralisado {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
    color: #ff595e;
}

.Pendente {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
    color: #ffbb00;
}

.Iniciado {
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
    color: #8ac926;
    animation: blink 1s infinite;
}

.Finalizado{
    font-size: 1.3vh;
    margin-right: 4%;
    font-weight: bold;
    color: #1982c4;
}

@keyframes blink {
    0%{
        opacity: 0.2;
    };
    50%{
        opacity: 1;
    };
    100%{
        opacity: 0.2;   
    }
}



#header {
    padding: 1%;
    padding-top: 1.3%;
    width: 99%;
    position: absolute;
    background-color: white;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#map {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 0;
    animation: fadeIn 3s;
    z-index: 10;
}

.fadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: saturate(0);
    }

    ;

    to {
        opacity: 1;
        filter: saturate(1);
    }
}

.container {
    position: absolute;
    z-index: 15;
    display: flex;
    right: 2%;
    top: 50%;
}

:host {
    ::ng-deep .p-dropdown-override input {
        background-color: #f2f2f2;
        height: 4vh;
        background-image: none;
        outline: none;
        border: none !important;
        font-size: 1.5vh;
        font-weight: 400;
        margin-left: 8%;
        font-family: 'Figtree';
    }

    ::ng-deep .p-dropdown-override input::placeholder {
        font-family: 'Figtree';
        font-size: 1.5vh;
        font-weight: 400;
    }
 
    ::ng-deep .p-dropdown-override input:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    ::ng-deep .p-dropdown {
        outline: none;
    }

    ::ng-deep .p-dropdown-override button {
        background-color: #f2f2f2;
        height: 4vh;
        font-family: 'Inter';
        color: black;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        background-image: none;
        border: none !important;
    }
}

.signal:hover h3{
    color:#0095FF;
    transition: 0.2s;
}

.signal:hover{
    // border: 1px solid #a4d9ff;
    background-color: #fcfcfc;
    transition: 0.2s;
}

.selectedMarker{
    transform: scale(10);
}

.city {
    position: absolute;
    right: 0;
    top: 10%;
    width: 28%;
    // padding: 1%;
    margin: 1%;
    background-color: white;
    border-radius: 14px;
    z-index: 11;
    // border: 1px solid #e9e9e9;
    padding-left: 2%;
    padding-bottom: 2%;
    animation: fadeIn 0.5s;
    max-height: 70vh;
    overflow-y: scroll;
}

.city::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.selected {
    opacity: 1;
}

.unselected {
    opacity: 0.5;
}

#title {
    font-weight: 800;
    font-size: 3vh;
    letter-spacing: -.5px;
    margin-bottom: 2%;
}

.addButton img {
    height: 2vh;
}

.addButton {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    right: 1%;
    vertical-align: middle;
    padding-top: 0.8%;
    padding-right: 0.7%;
    padding-left: 0.7%;
    padding-bottom: 0.55%;
    // padding-bottom:-1%;
    text-decoration: none;
    z-index: 20;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.048);
}

.addButton img {
    position: relative;
    top: 50%;
    margin: auto;
}

.addButton:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.addButton:hover img {
    transform: rotate(180deg);
    transition: 0.5s;
}

.editButton svg {
    height: 1.5vh;
    width: 1.5vh;

}

.editButton {
    width: 2vh;
    background: none;
    border: none;
}

.editButton:hover svg {
    transform: scale(1.1);
    transition: 0.3s;
}