<body>
<div id="header">
    <img src="logo.png" routerLink="/" id="logo">
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div id="row">
        <p class="title">Registre seu<br>usuário</p>
    </div>
    <div class="row">
        <label for="login">Login</label><br>
        <input id="login" placeholder="Como você quer ser chamado?" type="text" formControlName="login">
    </div>
    <div class="row">
        <label for="email">Email</label><br>
        <input id="email" placeholder="eu@gmail.com" type="text" formControlName="email">
    </div>
    <div class="row">
        <label for="password">Senha</label><br>
        <input id="password" placeholder="Entre 8-20 caracteres" type="password" formControlName="password">
    </div>
    <div id="last-row">
        <a id="redirect" href="/login">Já tenho uma conta</a>
        <p-button id="registrar" [disabled]="!this.form.valid" type="submit" label="Registrar" severity="contrast" />
    </div>
</form>
</body>