<body>
    <div class="container">
        <div class="sinal-container">
            <!--<p-dropdown [options]="ufs" [(ngModel)]="uf" [checkmark]="true" optionLabel="sigla" [showClear]="true" /> -->



            <!-- 
            <select (change)="changeUF()" [(ngModel)]="selectedUF">
                <option selected value="0">Estado</option>
                <option *ngFor="let u of ufs, index as i" value="{{i}}">{{u?.sigla}}</option>
            </select> 

            <select (change)="changeCidade()" [(ngModel)]="selectedCidade">
                <option selected value="0">Cidade</option>
                <option *ngFor="let c of cidades, index as i" value="{{i}}">{{c.nome}}</option>
            </select> -->
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <p class="title">Crie um <br>sinal</p>
                <div class="row">
                    <div>
                        <label for="name">Nome</label><br>
                        <input id="name" placeholder="Dê um sinal" type="text" formControlName="name">
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="type">Tipo</label><br>
                        <select id="type" formControlName="type">
                        </select>
                    </div>
                    <div>
                        <label for="date">Data</label><br>
                        <input id="date" placeholder="dd-mm-yyyy" type="date" formControlName="date">
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="description">Descrição</label><br>
                        <textarea id="description" placeholder="Descreva a situação" type="text"
                            formControlName="description"></textarea>
                    </div>
                </div>

                <div style="width: 95%;">
                    <p-divider align="left" type="solid">
                        <b>Endereço</b>
                    </p-divider>
                </div>

                <div class="row">
                    <div>
                        <p-autoComplete (onSelect)="changeState()" placeholder="Estado" formControlName="state"
                            [dropdown]="true" [suggestions]="filteredStates" (completeMethod)="filterStates($event)"
                            field="name" />
                    </div>
                    <div>
                        <p-autoComplete (onSelect)="changeCity()" placeholder="Município" [forceSelection]="true"
                            formControlName="city" [virtualScroll]="true" [suggestions]="filteredCities"
                            (completeMethod)="filterCities($event)" dropdown="true" field="name" />
                    </div><br>
                    <small stye=" flex-basis: 100%;">{{address}}</small>
                </div>

                <div class="row">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </div>
</body>