<body>
    <div class="container">
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
        <div class="sinal-container">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- <p class="title">{{this.signal.name}}</p> -->
                <div class="row">
                    <div>
                        <input id="name" placeholder="Dê um sinal" type="text" formControlName="name">
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="typeOfSignal">Tipo</label><br>
                        <select id="typeOfSignal" formControlName="typeOfSignal">
                            <option default value="">Tipo</option>
                            <option *ngFor="let t of types">{{t}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="date">Data</label><br>
                        <input id="date" placeholder="dd-mm-yyyy" type="date" formControlName="date">
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="description">Descrição</label><br>
                        <textarea id="description" placeholder="Descreva a situação" type="text"
                            formControlName="description"></textarea>
                    </div>
                </div>

                <div style="width: 95%;">
                    <p-divider align="left" type="solid">
                        <b>Endereço</b>
                    </p-divider>
                </div>

                <div class="row" style="flex-wrap: wrap;">
                    <div style="flex-basis: 45%;">
                        <p-autoComplete styleClass="p-dropdown-override" (onSelect)="changeState()" placeholder="Estado"
                            formControlName="state" readonly="true" [dropdown]="true" [suggestions]="filteredStates"
                            (completeMethod)="filterStates($event)" field="name" />
                    </div>
                    <div style="flex-basis: 45%;">
                        <p-autoComplete styleClass="p-dropdown-override" (onSelect)="changeCity()"
                            placeholder="Município" readonly="true" [forceSelection]="true" formControlName="city"
                            [virtualScroll]="true" [suggestions]="filteredCities"
                            (completeMethod)="filterCities($event)" dropdown="true" field="name" />
                    </div>
                    <small id="address" style="flex-basis: 100%;" *ngIf="this.address.length != 0">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z" />
                        </svg>
                        {{address}}
                    </small>
                </div>
                <div class="row">
                    <div style="width:95%;">
                        <label>Status</label><br><br>
                        <p-steps styleClass="p-steps-override" readonly="false" [model]="items"
                            [activeIndex]="this.status" (activeIndexChange)="changeStatus()" />
                    </div>
                </div>
                <div class="row" style="width:95%; flex-direction: column-reverse;">
                    <p-button id="sinalize" [disabled]="!this.form.valid || this.city == undefined" type="submit"
                        label="Confirmar" severity="contrast" />
                </div>
            </form>
        </div>
    </div>
</body>